<%= form_for(@message) do |f| %>
  <div>
    <%= f.label :recipient %><br />
    <%= f.text_field :recipient %>
  </div>
  <div>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit "send" %>
  </div>
<% end %>